* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #e6e6e6;
}

/*
***layout***
*/

#area-cabecalho {
    background-color: #4169E1;
    padding: 15px;
    text-align: center;
}

#area-logo, #area-menu {
    padding: 10px ;
}

#area-principal {
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#area-conteudo {
    width: 900px;
    float: left;
    padding-left: 50px;
}

#area-lateral {
    width: 250px;
    float: right;
    padding-right: 50px;
}

.conteudo {
    padding: 20px;
    margin-bottom: 20px;
    background: #fff;
}
#rodape {
    clear: both;
    text-align: center;
    padding: 15px;    
    background: #ccc;
}
/*
***Formatações menu***
*/
a {
    text-decoration: none;
}
a:link, a:visited {
    color: #4169E1;
    padding: 8px 12px;
}

a:hover {
    text-decoration: underline; 
}
#area-cabecalho a:link, #area-cabecalho a:visited {
    color: #fff;
    padding: 8px 12px;
}

#area-cabecalho a:hover {
    color: #4169E1;
    background: #fff;
    text-decoration: none;
}
/*
***Formatações gerais***
*/
h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}

.branco{
    color: white;
}

h2 {
    color: #4169E1;
    padding: 15px;
}
h3 {
    color: #565656;
    background: #ccc;
    padding: 5px;
}

.conteudo-lateral {
    background: white;
    padding: 5px;
    margin-bottom: 20px;
}
